asgiref==3.5.0
Django==4.0.2
psycopg2-binary==2.9.3
sqlparse==0.4.2
tzdata==2021.5
celery
redis
torch
torchvision
torchaudio
pytorch-lightning
sentencepiece
tokenizers==0.11.6
pandas
numpy
datasets
nltk
rouge_score
psutil
py3nvml
snowballstemmer
TurkishStemmer
fastapi[all]
datasets
absl-py
nltk
numpy
six>=1.14
hazm
snowballstemmer
TurkishStemmer
transformers